<div class="container">
  <mat-card class="login-box">
    <mat-card-header>
      <div class="tamatem-logo">
        <img
          src="https://avatars.githubusercontent.com/u/124091983"
          class="img"
        />
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="form" [formGroup]="loginForm">
        <mat-form-field class="input" appearance="outline">
          <mat-label class="email-label">Email</mat-label>
          <input matInput formControlName="email" />
          <mat-error
          *ngIf="loginForm.get('email')?.invalid">Please enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field class="input" appearance="outline">
          <mat-label class="email-label">Password</mat-label>
          <input matInput type="password"  formControlName="password"/>
          <mat-error
           *ngIf="loginForm.get('password')?.invalid">Please enter a valid password</mat-error>
      
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions align="end" class="login-place">
      <button mat-flat-button color="warn" class="login-button"   type="submit"
      (click)="submit($event)">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</div>
